.student-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.add-btn {
  padding: 10px 20px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.table-col table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.table-col th {
  background: #f5f9fc;
  padding: 12px;
  text-align: left;
  color: #5a5a5a;
}

.table-col td {
  padding: 12px;
  border-top: 1px solid #eee;
}

.edit-btn {
  padding: 6px 14px;
  background: #e8eef5;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-btn {
  padding: 6px 14px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.drop-down {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;

}

.drop-down select {
  padding: 5px 5px 5px 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  width: 450px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: popup 0.3s ease-out;
}


@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


.modal-box form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-box input,
.modal-box select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.modal-box button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}


.modal-box button[type="submit"] {
  background: #4CAF50;
  color: white;
}


.modal-box button[type="button"] {
  background: #f44336;
  color: white;
  margin-top: 5px;
}