.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #eee;
  margin-top: 20px;
}

.tab {
  padding: 15px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #777;
}

.tab.active {
  font-weight: bold;
  color: #4a5bd4;
  border-bottom: 3px solid #4a5bd4;
}